.mm{
    font-size: 20px;
    color: rgb(155, 4, 74);
    background: rgb(1, 206, 233);
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    border-radius: 8px;
    animation: colorful 5s ease infinite;
    word-spacing: 5px;
    letter-spacing: 2px;
}



.mm1{

    color: rgb(217, 11, 11);
    direction: rtl;
    margin-top: 4%;
    font-weight: bold;
    size: 30%;
}
}