body {
    margin: 0;
    padding: 0;
    font-family: "Tahoma", sans-serif;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    color: #2a5298;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: right;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #2a5298;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1e3c72;
  }
  
  .signup-link {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #2a5298;
    text-decoration: none;
    font-weight: bold;
  }
 .menu{
    background-color: #111;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    animation: img 3s infinite alternate;
    position: fixed;       
    top: 0;               
    left: 0;
    width: 100%;           
    background-color: #111;
    padding: 10px;
    z-index: 1000;   
 }

 button {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .home {
    background-color: white;
    color: black;
  }
  .home:hover {
    background-color: rgb(203, 252, 7);
  }
  
  .cal {
    background-color: white;
    color: black;
  }
  .cal:hover {
    background-color: rgb(118, 10, 200);
  }
  
  .sign {
    background-color: white;
    color: black;
  }
  .sign:hover {
    background-color: rgb(201, 17, 173);
  }
  
  .about-us {
    background-color: white;
    color: black;
  }
  .about-us:hover {
    background-color: black;
    color: white;
  }