/* منو */
body {
 
  background-size: cover;
  background-position: bottom 20px;
  margin: 0;
  font-family: sans-serif;
  
}


/* منو */
.menu {
  background-color: #111;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  animation: img 3s infinite alternate;
  
}

/* دکمه‌ها */
button {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.home {
  background-color: white;
  color: black;
}
.home:hover {
  background-color: rgb(203, 252, 7);
}

.cal {
  background-color: white;
  color: black;
}
.cal:hover {
  background-color: rgb(118, 10, 200);
}

.sign {
  background-color: white;
  color: black;
}
.sign:hover {
  background-color: rgb(201, 17, 173);
}

.about-us {
  background-color: white;
  color: black;
}
.about-us:hover {
  background-color: black;
  color: white;
}

/* عنوان */
.h1 {
  text-align: center;
  color: white;
  animation: text 3s infinite;
  margin-top: 30px;
}



pre {
  font-size: 18px;        /* اندازه متن */
  font-family: Tahoma, Arial, sans-serif; 
  color: #1c1919;          
  direction: rtl;         
  line-height: 1.8;       
  background: #dddbdb;       
  padding: 15px;          
  border-radius: 8px;     
  box-shadow: 0 2px 5px rgba(8, 8, 187, 0.1); 
  margin: 20px;           
}

/* دکمه برگشت */
.button {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  
}

.button:hover {
  background-color: rgb(222, 29, 29);
  color: white;
}

/* انیمیشن دکمه Back */
@keyframes backPulse {
  from {
    transform: scale(1);        /* حالت عادی */
  }
  to {
    transform: scale(1.2);      /* کمی بزرگ‌تر میشه */
    background-color: #ffcccc;  /* رنگ پس‌زمینه تغییر می‌کنه */
  }
}

